body {
  background-color:#d794ce;
}
h1 {
  color:#222248;
  font-family:times new roman;
  font-size:25px;
  text-align:left;
}
p {
  color:#000000;
  font-family:verdana;
  text-align:justify;
}